extends layout

block content
  .container-fluid
    h1 Coinbase Transactions
    - var peers = {1: 'A', 2: 'B', 3: 'C'}
    - each peer, chain in peers
      h3 Peer #{peer}
      .row.row-horizon
        - var blocks = []
        - blocks.push({block: 1, chain: chain, nonce: 11745, coinbasevalue: '12.5', coinbaseto: 'Vader', txs: [], previous: '0000000000000000000000000000000000000000000000000000000000000000'})
        - blocks.push({block: 2, chain: chain, nonce: 17715, coinbasevalue: '12.5', coinbaseto: 'Vader', txs: [{value: '2.00', from: 'Vader', to: 'Luke'},{value: '4.00', from: 'Vader', to: 'Lucas'},{value: '4.50', from: 'Vader', to: 'Leia'},{value: '0.50', from: 'Vader', to: 'Yoda'}], previous: '000047a7bd60cefa434890ea09837a2313b8739009b048964deaea177dc14cde'})
        - blocks.push({block: 3, chain: chain, nonce: 8255, coinbasevalue: '12.5', coinbaseto: 'Vader', txs: [{value: '1.00', from: 'Leia', to: 'Obi-Wan'},{value: '0.50', from: 'Yoda', to: 'Obi-Wan'},{value: '2.00', from: 'Lucas', to: 'Han'}], previous: '0000174fa879098df95907b321bbca97dabba2385724b74232e4a3d6bb708752'})
        - blocks.push({block: 4, chain: chain, nonce: 48651, coinbasevalue: '12.5', coinbaseto: 'Vader', txs: [{value: '1.50', from: 'Obi-Wan', to: 'Lando'},{value: '0.50', from: 'Leia', to: 'Yoda'},{value: '0.80', from: 'Luke', to: 'Obi-Wan'}], previous: '0000d11c8b6d1ffb5880a432dcb20ce45d6d67d5a9438d8cec500f72374e88f7'})
        - blocks.push({block: 5, chain: chain, nonce: 93780, coinbasevalue: '12.5', coinbaseto: 'Luke', txs: [{value: '0.20', from: 'Obi-Wan', to: 'Chewie'},{value: '0.60', from: 'Lando', to: 'Sidous'},{value: '0.40', from: 'Lando', to: 'Sidious'},{value: '0.95', from: 'Han', to: 'R2D2'}], previous: '0000a402fdb1d96a2adb1daa477022b507722d669808953fd0bf01a93ca1e67b'})        
        each block in blocks
          .col-xs-7
            include includes/coinbaseblock.jade

  script.
    $(function() {
      setup(1, 1);
      setup(2, 1);
      setup(3, 1);
      setup(4, 1);
      setup(5, 1);

      setup(1, 2);
      setup(2, 2);
      setup(3, 2);
      setup(4, 2);
      setup(5, 2);

      setup(1, 3);
      setup(2, 3);
      setup(3, 3);
      setup(4, 3);
      setup(5, 3);
    });

    function getText(block, chain) {
      var s = $('#block'+block+'chain'+chain+'number').val() +
              $('#block'+block+'chain'+chain+'nonce').val() +
              $('#block'+block+'chain'+chain+'coinbasevalue').val() +
              $('#block'+block+'chain'+chain+'coinbaseto').val();

      for (var x=0; $('#block'+block+'chain'+chain+'tx'+x+'value').length > 0; x++) {
        s = s + $('#block'+block+'chain'+chain+'tx'+x+'value').val() +
                $('#block'+block+'chain'+chain+'tx'+x+'from').val() +
                $('#block'+block+'chain'+chain+'tx'+x+'to').val();
      }
      s = s + $('#block'+block+'chain'+chain+'previous').val();
      return s;
    }

    function setup(block, chain) {
      updateHash(block, chain);
      $('#block'+block+'chain'+chain+'mineButton').click(function(e) {
          e.preventDefault();
          var l = Ladda.create(this);
          l.start();
          setTimeout(function() {
              mine(block, chain, true);
              l.stop();
            }, 250); // give UI time to update
        });
    }
