extends layout

block content
  .container
    h1 Bitcoin Fundamentals
    br
    p.pull-right by
      a(href='http://andersbrownworth.com/') Anders Brownworth 
      | 1K3NvcuZzVTueHW1qhkG2Cm3viRkh2EXJp
