extends layout

block content
  .container-fluid
    h1 Tokens
    - var peers = {1: 'A', 2: 'B', 3: 'C'}
    - each peer, chain in peers
      h3 Peer #{peer}
      .row.row-horizon
        - var blocks = []
        - blocks.push({block: 1, chain: chain, nonce: 11316, coinbasevalue: '12.5', coinbaseto: 'Vader', txs: [], previous: '0000000000000000000000000000000000000000000000000000000000000000'})
        - blocks.push({block: 2, chain: chain, nonce: 67981, coinbasevalue: '12.5', coinbaseto: 'Vader', txs: [{value: '10.00', from: 'Vader', to: 'Luke'},{value: '20.00', from: 'Vader', to: 'Lucas'},{value: '15.00', from: 'Vader', to: 'Leia'},{value: '15.00', from: 'Vader', to: 'Yoda'}], previous: '000015783b764259d382017d91a36d206d0600e2cbb3567748f46a33fe9297cf'})
        - blocks.push({block: 3, chain: chain, nonce: 5153, coinbasevalue: '12.5', coinbaseto: 'Vader', txs: [{value: '10.00', from: 'Leia', to: 'Obi-Wan'},{value: '5.00', from: 'Yoda', to: 'Obi-Wan'},{value: '20.00', from: 'Lucas', to: 'Han'}], previous: '00000a41f710d7a4441c2e57719f90ee381fadbc3cb3c0f63d15c8faeacabb10'})
        - blocks.push({block: 4, chain: chain, nonce: 249361, coinbasevalue: '12.5', coinbaseto: 'Vader', txs: [{value: '15.00', from: 'Obi-Wan', to: 'Lando'},{value: '5.00', from: 'Leia', to: 'Yoda'},{value: '8.00', from: 'Luke', to: 'Obi-Wan'}], previous: '0000281a5aabeea05aafd2b391a9ea0018929b41c7fbc039bb3282d9d511a8b0'})
        - blocks.push({block: 5, chain: chain, nonce: 60416, coinbasevalue: '12.5', coinbaseto: 'Luke', txs: [{value: '2.00', from: 'Obi-Wan', to: 'Chewie'},{value: '6.00', from: 'Lando', to: 'Sidous'},{value: '4.00', from: 'Lando', to: 'Sidious'},{value: '9.95', from: 'Han', to: 'R2D2'}], previous: '0000be6d504babb98650c7efc492aab5e12c36509edffe8acf21931f5b3df181'})
        each block in blocks
          .col-xs-7
            include includes/tokenblock.jade

  script.
    $(function() {
      setup(1, 1);
      setup(2, 1);
      setup(3, 1);
      setup(4, 1);
      setup(5, 1);

      setup(1, 2);
      setup(2, 2);
      setup(3, 2);
      setup(4, 2);
      setup(5, 2);

      setup(1, 3);
      setup(2, 3);
      setup(3, 3);
      setup(4, 3);
      setup(5, 3);
    });

    function getText(block, chain) {
      var s = $('#block'+block+'chain'+chain+'number').val() +
              $('#block'+block+'chain'+chain+'nonce').val();
      for (var x=0; $('#block'+block+'chain'+chain+'tx'+x+'value').length > 0; x++) {
        s = s + $('#block'+block+'chain'+chain+'tx'+x+'value').val() +
                $('#block'+block+'chain'+chain+'tx'+x+'from').val() +
                $('#block'+block+'chain'+chain+'tx'+x+'to').val();
      }
      s = s + $('#block'+block+'chain'+chain+'previous').val();
      return s;
    }

    function setup(block, chain) {
      updateHash(block, chain);
      $('#block'+block+'chain'+chain+'mineButton').click(function(e) {
          e.preventDefault();
          var l = Ladda.create(this);
          l.start();
          setTimeout(function() {
              mine(block, chain, true);
              l.stop();
            }, 250); // give UI time to update
        });
    }
